*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Fira Sans", sans-serif;
    width:85vw;
    margin: 0px auto;
}

/* Shared Style */
.btn{
    padding: 12px 20px;
    border: 1px solid rgba(0, 106, 80, 1);
    background: transparent;
    border-radius: 5px;
    color: rgba(0, 106, 80, 1);
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    background-color:rgba(0, 106, 80, 1);
    border: 1px solid rgba(0, 106, 80, 1);
    color: #ffffff;

}

/* Navigation Menu Design */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
nav .logo a{
    color: rgba(14, 14, 14, 1);
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-decoration: none;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-links li{
    list-style-type: none;
}
.nav-links li a{
    color: rgba(0, 106, 80, 1);
    text-decoration: none;
}
.nav-links li a:hover{
    color: rgb(4, 63, 48);
    border-bottom: 2px solid rgb(4, 63, 48);
}


/* Banner Section Design */
#banner{
    background-color: #c5e4d6;
    border-radius: 5px;

}
.banner-content {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 100px 50px;
}
.banner-content .banner-text h4{
    color: rgba(14, 14, 14, 0.5);
    font-size: 18px;
    font-weight: 500;
    line-height: 15px;
    text-align: left;
    margin-bottom: 15px;
}
.banner-content .banner-text h1{
    color: rgba(14, 14, 14, 1);
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
    margin-bottom: 20px;
}

.banner-content .banner-btn{
    background-color:rgba(0, 106, 80, 1);
    border: 1px solid rgba(0, 106, 80, 1);
    color: #ffffff;
    transition: 0.3s;
}
.banner-content .banner-btn:hover{
    border: 1px solid rgba(0, 106, 80, 1);
    background: transparent;
    color: rgba(0, 106, 80, 1);
}



/* Pillar Section Design */
#pillar{
    margin: 80px 0px;
}
.pillar-content h2{
    color: rgba(14, 14, 14, 1);
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 30px;
}
.pillar-content .pillar-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.pillar-content .pillar-item .pillar-box{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
    padding: 20px;
}
.pillar-content .pillar-item .pillar-box h4{
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin: 12px 0px;
}
.pillar-content .pillar-item .pillar-box p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}



/* Vision Section Design */
#vision{
    margin-bottom: 80px;
}
.vision-content h2{
    color: rgba(14, 14, 14, 1);
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 30px;
}
.vision-content p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 30px;
}
.vision-content .vision-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.vision-content .vision-item .vision-box{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(129, 180, 252, 1);
    padding: 30px;
}
.vision-item .vision-box:nth-child(2){
    background-color:rgba(198, 228, 214, 1);
}
.vision-item .vision-box:nth-child(3){
    background-color:rgba(255, 247, 223, 1);
}

.vision-content .vision-item .vision-box h4{
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin: 12px 0px;
}
.vision-content .vision-item .vision-box p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.vision-item .vision-box:nth-child(1) button{
    background-color: rgba(84, 144, 245, 1);
    border: 2px solid rgba(84, 144, 245, 1);
    color: #ffffff;
}
.vision-item .vision-box:nth-child(1) button:hover{
    border: 2px solid rgba(84, 144, 245, 1);
    background: transparent;
    color: rgba(84, 144, 245, 1);
}
.vision-item .vision-box:nth-child(2) button{
    background-color: rgba(9, 161, 92, 1);
    border: 2px solid rgba(9, 161, 92, 1);
    color: #ffffff;
}
.vision-item .vision-box:nth-child(2) button:hover{
    border: 2px solid rgba(9, 161, 92, 1);
    background: transparent;
    color: rgba(9, 161, 92, 1);
}
.vision-item .vision-box:nth-child(3) button{
    background-color: rgba(255, 194, 57, 1);
    border: 2px solid rgba(255, 194, 57, 1);
    color: #ffffff;
}
.vision-item .vision-box:nth-child(3) button:hover{
    border: 2px solid rgba(255, 194, 57, 1);
    background: transparent;
    color: rgba(255, 194, 57, 1);
}